#dots {
  width: 100%;
  height: $dots-container-height;
  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    height: $dot-size;
    width: $dot-size;
    background-color: $dot-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
