@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset';
@import './variables';
@import './mixins';
@import './carousel';
@import './dots';

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}
